@use "./abstracts/index" as *;

#expert-installation{
    @include flex($align:center, $justify:center);
    pointer-events:none;
    visibility: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    .expert-installation-container{
        opacity: 0;
        transform: translateY(25px);
        transition: all 250ms ease-in-out;
        background-color: white;
        position: relative;
        z-index: 1;
        width:600px;
    }

    .expert-installation-background{
        display: block;
        opacity: 0;
        transition: all 250ms ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $popup-background;
    }

    &.display{
        pointer-events:auto;
        visibility:visible;

        .expert-installation-container{
            opacity: 1;
            transform: translateY(0px);
        }

        .expert-installation-background{
            opacity: 1;
        }
    }
}