@use "./abstracts/index" as *;

#product-sunglasses{
    section.main-section{
        .images-container{
            .preview-images{
                img{
                    height: 100px;
                    width: 100px;
                    object-fit: contain;

                    &.active{
                        outline: 3px solid $color-gray2;
                    }
                }
            }
        }
        .order-container{
            .title{}
            .price{}
            .selection-container{
                &.lens-color-container{}
                &.lens-type-container{}
                &.installation-type-container{}

                ul{
                    li{
                        &.active{
                            button{
                                background-color: $color-gray0;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}