@use "./abstracts/index" as *;

#sunglasses-grid{
    .banner{
        background-color: $color-gray0;
        *{
            color: white;
        }

        .inner{
            padding: 4rem 0;
            @include flex($direction:column, $gap: 2rem);

            *{
                max-width: 600px;
            }
            .usp-list{
                @include flex($gap: 2rem);
            }
            
            .description *{
                font-size: 1.5rem;
                line-height: 1;
            }

            .tutorials{
                @include grid-equal(2);
                .tutorial *{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .filters{
        .inner{
            padding: 4rem 0;

            .filters-main{
                @include flex;
                
                .dropdown{
                    flex-grow: 1;
    
                    .drop-down-input{
                        font-size: 1.5rem;
                        padding: 1.5rem;
                    }
                }
            }
        }
    }
}