@use "./abstracts/index" as *;

#sunglasses-grid{
    .banner{
        background-color: $color-gray0;
        *{
            color: white;
        }

        .inner{
            padding: 2rem;
        }
    }
}