<div id="plano-sun-replacement">
    <h1>{{page.title}}</h1>
    <p>{{page.content}}</p>
</div>

<script>
    const { createApp, ref, reactive } = Vue
    createApp(PlanoSunComponent).mount('#plano-sun-replacement');
</script>

{% render 'custom-page-data' %}
<script src="{{ 'plano-sun.js' | asset_url }}"></script>