<div id="sunglasses-grid">
    <div class="filters">

    </div>
    <div class="body">
        <ul id="product-grid">
        {%- for product in collection.products -%}
          {% assign lazy_load = false %}
          {%- if forloop.index > 2 -%}
            {%- assign lazy_load = true -%}
          {%- endif -%}
          <li class="grid__item">
            <div class="product-card">
                <img
                    src="{{ product.featured_image | image_url: width: 533 }}"
                    width="533"
                    height="533"
                >
                    <p>{{ product.title }}</p>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>
</div>

{% render 'object-collection' %}
<script src="{{ 'sunglasses-collection.js' | asset_url }}"></script>

<script>
    const { createApp } = Vue
    createApp(SunglassesCollectionComponent).mount('#sunglasses-grid');
</script>


