<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
</script>
  
<div id="plano-sun-replacement">
    <h1>{{page.title}}</h1>
    <p>{{page.content}}</p>
    <h2>{{state.count}}</h2>
</div>

{% render 'custom-page-data' %}
<script src="{{ 'plano-sun.js' | asset_url }}"></script>

<script defer type="module">
    import { createApp } from 'vue'

    createApp(PlanoSunComponent).mount('#plano-sun-replacement');
</script>


